<div id="q_board" class="box">	
	<h1>The Questions Board</h1>
	<div id="questions">
		<% @questions.each do |q| %>
		Title: <%= q.title %>
		<br>
		Body: <%= q.body %>
		<br>
		<%= link_to "View or Answer this question!", q, class: "btn btn-xs btn-primary" %>
		<br>
		<br>
		<% end %>
	</div>
</div>

