<div id="login" class="row">
	<div class="col-sm-8">
		<img id="login_img" src="http://www.robotplunger.com/wp-content/uploads/2011/06/trust-me-im-a-doctor.jpg" />
	</div>
	<div class="col-sm-4">
		<h2>Are you a...</h2>
		<button type="button" class="btn btn-med btn-primary">Doctor</button>
		<button type="button" class="btn btn-med btn-primary">Patient</button>
	</div>
</div>