/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
	background-image: url(http://www.bebco.com/Retail/Lenticular_Stock_Images/Medical_Large.gif);
	background-size: 250%;
}
.answer {
	border: 2px solid red;
}
footer {
	position: fixed;
	background-color: rgba(0,0,0, .6);
	color: white;
	bottom: 0;
	width: 80%;
	padding: 1px;
	border-radius: 0 10px 0 0;
}
.menu {
	background-color: black;
	border-radius: 0 0 0 15px;
	position: absolute;
	top: -3px;
	right: -3px;
	font-size: 15px;
	color: green;
	margin: 0;
	padding: 19px;
}

.box {
	display: block;
	padding: 10px;
	background: rgba(0,0,0,.9);
	color: white;
	box-shadow: 5px 5px 10px black;
	border-radius: 10px;
	margin: 30px;
}
.top_bar {
	border-radius: 0 0 18px 0;
	padding: 5px;
	height: 60px;
	width: 220px;
	background-color: black;
	margin-bottom: 20px;
}