#new_q {
	text-align: center;
	display: block;
	background-color: rgba(10, 10, 10, .95);
	border-radius: 0 0 20px 20px;
	color:white;
	padding: 30px;
}

#q_board {
	background-color: rgba(10, 10, 10, .95);
	border-radius: 0 0 20px 20px;
	color:white;
	padding: 30px;
}