<div id="tutorial_window">
	<h1>Finally!</h1>
	<p>So lets begin!  Don't forget, that this application is still just for fun! We can't allow it to be used for actual medical purouses until the doctors are legally verified, and cross checked. We must be safe!  Thank you and enjoy!</p>
<%= link_to "Continue", root_path, class: 'btn btn-md btn-primary'%>
</div>