<div id="tutorial_window">
<h1>So what do I do now?</h1>
<p>Well there are three things.  First, you could begin by asking a question!  Simply click "The Waiting Room" logo in the top left corner to view the question board.  Remember, your information you provided is NOT used when you post an answer or ask a question as a Patient.</p>
<p>The second thing you could do is answer questions.  Although you are not a doctor, you may still asnwer questions that are displayed on the question board.  However, your post will be marked as an "unverified" source (in red). </p>
<p>The final thing you can do is register as a doctor! Just click sign up in the Doctors Area in the top right corner.  You will then be prompted to fill out the doctor form, as stated earlier, this information is not actually verified at the moment, but does give doctor permissions in the site.</p>
<p>What are doctor permissions?  When viewing the questions, you will notice you now have a small star under the answer submission window.  When you post your reply, it will now carry that verified star, and will be displayed as a verified (doctor) source.</p>
<%= link_to "Exit walk-through", root_path, class: 'btn btn-md btn-primary'%>
<%= link_to "Back", tutorial_two_path, class: 'btn btn-md btn-primary'%>
<%= link_to "Next", tutorial_four_path, class: 'btn btn-md btn-primary'%>
</div>