<div id="tutorial_window">
<h1>So how private is it really?</h1>
<p>Well, without privacy and anonimity being the upmost priority with this application there really is no point to it.  So we take it very seriously.  When creating a new "patient" it simply saves the privided information to our database so we can better understand our user base.  The information you provide will never be used for anything else.</p>
<p>As a doctor... the information is used to verify that you are actually a doctor. However remember, since this application is still in beta, it does not actually verify the data, but does use it.</p>

<%= link_to "Exit walk-through", root_path, class: 'btn btn-md btn-primary'%>
<%= link_to "Next", tutorial_three_path, class: 'btn btn-md btn-primary'%>
</div>