<h1>So how private is it really?</h1>
<p>Well, without privacy and anonimity being the upmost priority with this application there really is no point to it.  So we take it very seriously.  When creating a new "patient" it simply saves the privided information to our database so we can better understand our user base.  The information you provide will never be used for anything else.</p>