<!DOCTYPE html>
<html>
<head>
  <title>WaitingRoom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
	<p>&copy; Ethan G Stiffelman Development <a href="http://www.egsd.co">EGSD</a></p>
</footer>
</body>
</html>
